/*padronização para TODOS os elementos*/
* {
    color: #ffffff; /*cor da letra(fonte)*/
    font-family: 'Segoe UI', 'Roboto';
}

/*estilizando o body*/
body{
    background-color: #1a0c2b; /*cor de fundo*/
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 200px 200px;
    padding-top: 20px;
}
.body-home{
    justify-content: center;

}

.titulo-principal {
    font-size: 100px;
}

.titulo-principal span{
    color: #F34DA9;
}

.container-home {
    display: flex; /*permite movimentar os elementos*/
    align-items: center; /*centraliza verticalmente*/
    justify-content: space-around;
}

.container-home img {
    width: 20%; /*largura*/
    height: 20%; /*altura*/
}

.titulo-secundario{
    font-size: 35px;
}

.menu{
    margin-top: 50px;
}

.menu a{
    text-decoration: none;
    font-size: 25px;
    border-left: #F34DA9 3px solid;
    padding: 0 15px;
}

.menu a:first-child{
    border: none;
    padding-left: 0;
}
.header-principal{
    display: flex;
    justify-content: space-between;
}
 
.title-header{
    display: flex;
    align-items: center;
}
 
.title-header img {
    width: 10%;
    height: 30%;
    margin-right: 20px;
}
 
.title-header h1{
    font-size: 50px;
 
}
 
p {
    font-size: 25px;
    text-align: justify;
}
.main-info{
    margin:  0 70px;
}
.link-icon{
    font-size: 40px;
}
.link-icon i:hover{
    color: #F34DA9;
}
.main-projeto{
    display: flex;
    justify-content: space-between;

}
.card-projeto{
    background-color: #a013dd21;
    border: 2px #9F13DD solid;
    padding: 0 15px;
    border-radius: 15px;
    width: 25%;
}
.card-projeto h3 {
    padding: 20px 0 ; 
    border-bottom: 1px #F34DA9 solid;
    margin: 0px;
    text-align: center;
    font-size: 30px;
}
.nav-habilidade{
    display: flex;
    justify-content: space-evenly;
}
.habi{
    text-decoration: none;
    text-align: center;
    font-size: 15px;
}
.main-contatos{
    display: flex;
    justify-content: space-between;
}
.div1-contatos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div1-contatos h2{
    font-size: 30px;

}
.div1-contatos a{
    font-size: 25px;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.icon-contatos, .fa-brands, .fab{
    font-size: 40px;
    color: #9F13DD;
    margin-right: 5px;
}
.div1-contatos a:hover{
    color: #9F13DD;
}
.icons-contatos{
    margin: 20px 0;
}
.div2-contatos{
    width: 50%;
    max-width: 400px;
}
.div2-contatos h2{
    font-size: 30px;
    text-align: center;
}
.div1-contatos h2{
    font-size: 30px;
}
.input-grupo{
    display: flex;
    flex-direction: column;
}
.input-grupo label{
    margin-bottom: 5px;
    font-weight: bold;
    margin-top: 10px;
}
.input-grupo input , .input-grupo textarea{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #1a0c2b;
    box-sizing: border-box;
}
.envia-form{
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background-color: #F34DA9;
    font-size: 16px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}
.envia-form:hover{
    background-color: #f34da987;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .titulo-principal{
        font-size: 30px;
        text-align: center;
    }
    .container-home{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .container-home img{
        width: 50%;
    }
    .titulo-secundario{
        font-size: 15px;
        text-align: center;
    }
    .menu a{
        text-decoration: none;
        font-size: 15px;
        border-bottom: #F34DA9 1px solid;
        border-left: none;
        margin: 3px 0;
    }
    .menu a:first-child{
        border-bottom: #F34DA9 1px solid;
        padding: 0 15px;
    }
    .menu{
        display: flex;
        flex-direction: column;
    }
    .header-principal{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .title-header{
        display: flex;
        align-items: center;
    }
    .title-header img{
        width: 10%;
        height: 30%;
        margin-right: 15px;
    }
    .title-header h1{
        font-size: 50px;
    }
    p{
        font-size: 19px;
    }
    .main-info{
        margin:  0 70px;
    }
    .link-icon{
        font-size: 40px;
    }
    .link-icon:hover{
        color: #F34DA9;
    }
    .title-header h1{
        font-size: 25px;
    }
    .title-header img{
        width: 15%;
        margin-right: 5px;
    }
    .link-icon{
        font-size: 20px;
    }
    body{
        padding: 0 20px;
    }
    .main-info{
        margin: 0 10px;
    }
    p{
        font-size: 12px;
    }
    .main-projeto{
        flex-direction: column;
    }
    .card-projeto{
        width: auto;
        margin-bottom: 15px;
    }
    .card-projeto h3{
        font-size: 20px;
        padding: 5px 0;
    }
    .nav-habilidade{
        display: contents;
    }
    /* .bili{
        display: flex;
        justify-content: flex-end; 
    } */
    .habi{
        text-decoration: none;
        text-align: center;
    }
    /* .menu a:first-child{
        border-left: #F34DA9 3px solid;
        padding: 0 15px;
    } */
    .main-contatos{
        flex-direction: column-reverse;
    }
    .div2-contatos{
        width: 100%;
    }
    .div1-contatos h2 ,.div2-contatos h2{
        font-size: 20px;
    }
    .input-grupo{
        font-size: 14px;
    }
    .input-grupo input, .input-grupo textarea ,.envia-form{
        padding: 5px;
    }
    .icons-contatos a{
        font-size: 16px;
    }
    .icons-contatos , .fa-brands, .fab{
        font-size: 30px;
        margin: 0;
    }
    .div1-contatos h2{
        margin-top: 30px;
        margin-bottom: 10px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}